/* Eléments principaux de la page */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
header,
nav,
section,
footer{
  display: block;
}
ul,ol{
  list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  }
.content{
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
/*style principal*/
.bolt{
  font-weight: bolder;
}
.styleBox{
  display: flex;
  align-items: center;
}
.titre h1{
  font-size: 2.2em ;
  margin: 10px 0 10px 7px;
}
.titre p{
   font-size: large;
}
/***** - Section Header - *****/    
    /*logo*/
  header img{
    margin-right: auto;
    margin-left: 2px;
  }
  h3{
  margin-left: 12px;
  }  
  /*  Eléments de navigation */
  nav{
    display: flex;
    flex-wrap: wrap;
  }
  .navBar{
    display: flex;
    margin-left: auto;
    font-weight: 500;
  }
  .navBar a{
    flex-basis: 50%;
    padding: 2rem;
    border-top: 4px solid transparent;
  }
  .navBar a:hover {
    border-top: 4px solid #0065fc;
    color: #0065fc;
  }

  /*Barre de recherche*/
  .searchbox{
    width: 39%;
    padding: 16px;
  }
  .location-dot{
    height: 3.6rem;
    border:2px solid #f2f2f2;
    background: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    min-width: 4rem;
    max-width: 4.1rem;
    justify-content: center;
    align-content: center;
  }
  .location-dot i{
    font-size: larger;
  }
  input{
    height: 3.6em;
  }
  .styleSearchInput{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding-left: 15px ;
    font-size: 1rem;
    width: 100%;
    min-width: 64%;
    max-width: 20%;
  }
  .buttonSearch{
    color: white;
    width: 80px ;
    height: 3.6em;
    border:2px solid #f2f2f2;
    background: #0065fc;
    border-radius: 0 1rem 1rem 0;
    font-size: 1rem;
    justify-content: center;
    cursor: pointer;
    min-width: 8rem;
  }
  .styleTextButtonSearch{
    justify-content: center;
    align-content: center;
    text-transform: none;

  }
  .buttonSearch .fa-solid {
    display: none;
  }
    /******Filtre*/
  .filter {
    display: flex;
    width: 100%;
    margin: 1rem;
  }
  .styleBoxFilter{
    margin-right: 2rem;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }
  .styleBoxFilter ul{
    display: flex;
    gap: 1rem;
  }
  .filter li {
    border: 2px solid #deebff;
    border-radius: 100vh;
    align-items: center;
    display: flex;
    padding: 0 1rem 0 0;
  }
  .styleTextBoxFilter{
    margin-top: 1.6rem;
    font-size: x-large;
  }
  .filter li:hover {
    color: #0065fc;
    border: 2px solid #0065fc;
  }
  .filter .fa-solid{
    background: #deebff;
    color: #0065fc;
    width: 20%;
  }
  .styleTextFilter{
    padding-left: 1rem;
  }
.cercle i{
  aspect-ratio: 1 / 1;
  width: 38px;
  border-radius: 50%;
  border: #deebff 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .cercle i {
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    margin: -1px;
}
.info .fa-solid {
  color: #0065fc;
}
.info{
  display: flex;
 
}
/*Hébergement*/
.contentAccommodations{
  display: flex;
  gap: 0.6em;
}
.card{
  display: flex;
  gap: 0.6rem;
  box-shadow: 0 0 16px #0000;
  flex-wrap: wrap;
  justify-content: center;
  
}
.accommodations{
  border: 2PX solid salmon;
  background: #f2f2f2;
  width:76%;
  border-radius: 1.25rem;
}
.accommodations h4, h5{
  margin-top: 3rem;
}
.styleCard{
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 20px #0000;
  cursor: pointer;
  height: 100%;
}
.styleCard:hover{
  transform: scale(1.02);
  background-color: #46bed6;
}
.styleTextCard h4,p,.stars{
  margin-top: 6px;
  margin-bottom: 1rem;
  margin-left: 9px;
}
.stars{
  color: #0065fc;
}
.accommodations img{
  object-fit: cover;
  width: 223px;
  height: 109px;
  border-radius: 12px 12px 0 0;
  margin: 5px;
}
.noChecked{
  color: #deebff;
}
/*Les plus Populaires*/
.mostPopular{
  width: 30%;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 1.25rem;
}
.mostPopular i{
  margin-left: 40%;
}
.allCardmostPopular{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.mostPopular .fa-solid{
  align-items: center;
  justify-content: center;
}
.mostPopular img {
  object-fit: cover;
  width: 125px;
  height: 127px;
  border-radius: 12px 0 0 12px;
  margin: 5px;
}
.mostPopular .styleCard{
  display: flex;
  margin-bottom: 1px;
  width: 100%;
}
.mostPopular .stars{
  margin-top: 53px ;
}
/*Activités*/
.contentActivity{
  border: 2px solid blue;
}
.activity{
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 22px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 1 / 3 / 3 / 4; }
.div5 { grid-area: 1 / 4 / 2 / 5; }
.div6 { grid-area: 2 / 4 / 3 / 5; }

.activity img {
  object-fit: cover;
  width: 95%;
  height: 46%;
  border-radius: 12px 12px 0 0;
  margin: 5px;
}
.activity img .div1 .div3 {
  height: auto;
}
.activity .styleCard{
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 2px #0000002e;
  cursor: pointer;
  height: 100%;
  /* overflow: hidden; */
}
/*Footer*/
.contentFooter{
  border: 2px solid blueviolet;
  columns: 3;
}

/*********************/
/*Média Query*/
@media screen and (max-width: 768px) {
  
  /*Section navBar*/
.navBar{
  justify-content: center;
  flex-basis: 100%; 
  border-bottom: 4px solid transparent;  
}  
.navBar a {
flex-basis: 50%;
border-bottom: 4px solid #0065fc;
text-align: center;}

.navBar a:hover {
  border-top: none;
  border-bottom: 4px solid #d0d1d2;  
}
/***********/
/*Section Reserch*/
.styleTextButtonSearch {
  display: none;
  border-radius: 1rem 1rem 1rem 1rem;
}

.buttonSearch .fa-solid{
  display: block;
}

.styleSearchInput{
  overflow: visible;
}
/***********/
/*Section Reserch*/
.filter{
  display: block;
}
.filter ul{
  display: block;
  max-width: 60%;
}

}