 /*
.singleCard img, .doubleCards img {
  object-fit: cover;
  position: relative;
  height: 100%;
  width: 100%;
}
.contentActivity .styleTextCard{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  width: 100%;
}
.styleCardActivity{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 23%;
  overflow:hidden;
  border-radius: 16px;
  transition-duration: 0.1s;
  cursor: pointer;
  max-width: 23%;
}
.contentActivity a{
  box-shadow: 0 0 10px #0000002e;
}
.styleCardActivity :hover{
  transform: scale(1.02);
}
.singleCard img{
  height: 540px;
}
.doubleCards, .singleCard{
  height: 100%;
}
.div2 img{
height: 320px;
}
.div3 img{
  height: 190px;
  border-radius: 16px 16px 0 0 ;
}
.div5 img{
  height: 190px;
}
.div6 img{
  height: 320px;
  border-radius: 16px 16px 0 0 ;
} */