/* Eléments principaux de la page */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
header,
nav,
section,
footer{
  display: block;
}
ul,ol{
  list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  }
.content{
  width: 97%;
  max-width: 1440px;
  margin: 0 auto;
}
/*style principal*/
.bolt{
  font-weight: bolder;
}
.styleBox{
  display: flex;
  align-items: center;
}
.titre h1{
  font-size: 35px ;
  margin: 10px 0 10px 7px;
}
.titre p{
  font-size: large;
}
h4, p {
  margin: 10px;
}
/***** - Section Header - *****/    
    /*logo*/
  header img{
    margin-right: auto;
    margin-left: 2px;
  }

  h2{
    font-weight: bolder;
    font-size: 19px;
  }  
  /*  Eléments de navigation */
  nav{
    display: flex;
    flex-wrap: wrap;
  }
  .navBar{
    display: flex;
    margin-left: auto;
    font-weight: 500;
  }
  .navBar a{
    flex:1;
    padding: 32px;
    border-top: 4px solid transparent;
    font-size: larger;
  }
  .navBar a:hover {
    border-top-color: #0065fc;
    color: #0065fc;
  }

  /*Barre de recherche*/
  .searchbox{
    width: 39%;
    height: 57px;
    margin: 20px 0 10px 4px;
  }
  .location-dot{
    flex: 1;
    height: 58px;
    border:2px solid #f2f2f2;
    background: #f2f2f2;
    border-radius: 16px 0 0 16px;
    max-width: 65px;
    min-width: 65px;
    justify-content: center;
    align-content: center;
  }
  button:hover{
  background: #3fadc3;
  }
  .location-dot i{
    font-size: larger;
  }
  input{
    height: 57px;
    flex:3;
  
  }
  .styleSearchInput{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding-left: 5px ;
    font-size: larger;
  }
  .buttonSearch{
    color: white;
    height: 58px;
    border:2px solid #f2f2f2;
    background: #0065fc;
    border-radius: 0 16px 16px 0;
    font-size: large;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
  }
  .styleTextButtonSearch{
    justify-content: center;
    align-content: center;
    text-transform: none;
  }
  .buttonSearch .fa-solid {
    display: none;
  }
    /******Filtre********/
  .filter {
    display: flex;
    margin: 9px 3px 25px;
    }
  .styleBoxFilter{
    font-weight: bold;
    cursor: pointer;
  }
  .styleBoxFilter ul{
    display: flex;
    gap: 19px;
  }
  .filter li {
    border: 2px solid #deebff;
    border-radius: 100vh;
    align-items: center;
    display: flex;
  }
  .styleTextBoxFilter{
    margin-top: 25.6px;
    font-size: 28px;
    margin-bottom: 0;
  }
  .filter li:hover {
    border-color: #c3bfbf;
    color: #0065fc;
  }
  .filter .fa-solid{
    background: #deebff;
    color: #0065fc;
    width: 20%;
  }
  .styleTextFilter{
    padding-left: 8px;
    padding-right: 23px;  
  }
.cercle i{
  aspect-ratio: 1 / 1;
  width: 38px;
  border-radius: 50%;
  border: #deebff 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .cercle i {
  width: 48px;
  margin: -1px;
}
/******Info**********/
.info .fa-solid {
  color: #0065fc;
  font-weight: bolder;
  font-size: 19.2px;
}
.info{
  display: flex;
  margin: 10px 3px 16px;
}
.info p{
  margin-left: 9px;
  margin-top: 8px;
  font-size: larger;
}
/*******Hébergement*********/
.contentAccommodations{
  display: flex;
  gap: 20px;
}
.accommodations h3,
.mostPopular h3,
#activity h3{
  margin-left: 25px;
  font-size: x-large;
}
.contentAllCards{
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin: 17px;
}

.accommodations{
  background: #f2f2f2;
  flex: 2;
  height: 650px;
  border-radius: 20px;
  justify-content: space-between
  ;
}
.styleCard{
  background-color: white;
  border-radius: 12px;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 3px 3px 2px 2px #c3bfbf;
  cursor: pointer;
  width: 32%;
  height:30%;
}
.styleCard:hover{
  transform: scale(1.02);
  background: #3fadc3;
  border: 1px solid #2f8597;
}

.styleTextCard{
  max-height: 37px;
  margin: 9px 20px;
  font-size: larger;
}
.styleTextCard h4, p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.accommodations h5{
  margin-left: 32px;
  font-size: larger;
}
.stars{
  color: #0065fc;
  margin: 30px 26px 10px;
}
.accommodations img{
  object-fit: cover;
  background-position: center;
  width: 96%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  margin: 5px;
}
.noChecked{
  color: #deebff;
}
/*Les plus Populaires*/
.mostPopular{
  flex:1;
  height: 650px;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 20px;
}
.mostPopular h3{
  margin-left: 15px;

}
.mostPopular i{
  margin-left: 40%;
  
}
.allCardmostPopular{
  display: flex;
  gap: 10px;
}
.mostPopular .fa-solid{
  margin-bottom: 10px;
}
.mostPopular img {
  object-fit: cover;
  width: 125px;
  height: 94%;
  border-radius: 12px 0 0 12px;
  margin: 5px;
}
.mostPopular .styleCard{
  display: flex;
  margin-bottom: 1px;
  width: 100%;
}
.mostPopular .stars{
  margin-top: 53px ;
}
/******Activités********/
.contentActivity{
  border: 2px solid blue;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contentAllCardsActivity {
  display: flex;
  border: 2px solid red;
  gap: 20px;
}
.singleCard img, .doubleCards img {
  object-fit: cover;
  position: relative;
  height: 100%;
  width: 100%;
}
.styleCardActivity{
  height: 650px;
  width: 23%;
  overflow:hidden;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  transition-duration: 0.1s;
  cursor: pointer;
  max-width: 23%;
}
.styleCardActivity :hover{
  transform: scale(1.02);
}
.singleCard img{
  height: 540px;
}
.div2 img{
height: 320px;
}
.div3 img{
  height: 190px;
  border-radius: 16px 16px 0 0 ;

}
.div5 img{
  height: 190px;
}
.div6 img{
  height: 320px;
  border-radius: 16px 16px 0 0 ;

}
/*Footer*/
.contentFooter{
  border: 2px solid blueviolet;
  background: #f2f2f2;

  display: flex;
  margin: auto;
  gap: 15px;
}
.cardFooter {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.cardFooter a {
  margin-bottom: 1rem;
  color: inherit;
}



/*********************/
/*Média Query*/
@media screen and (max-width: 768px) {
  
  /*Section navBar*/
.navBar{
  justify-content: center;
  flex-basis: 100%; 

}  
.navBar a {
flex:1;
border-bottom: 4px solid #d0d1d2;
text-align: center;}

.navBar a:hover {
  border-top-color: transparent ;
  border-bottom: 4px solid #0065fc;  
}
/***********/
/*Section Reserch*/
.styleTextButtonSearch {
  display: none;
  border-radius: 16px;
}
.buttonSearch{
  min-width: 80px;
}
.buttonSearch .fa-solid{
  display: block;
}
.styleSearchInput{
  min-width: 255px;
}
/***********/
/*Section Filter*/
.filter{
  display: block;
  margin-bottom: 0;
  padding: 0;
}
.filter ul{
  display: inline-block;
  margin-top: 0;
  padding: 0;
}
.filter li{
margin: 1em;  
}
/*section hébergement*/
.accommodations{
align-items: space-between;
}
/*Section mostPopular*/
.contentAccommodations {
flex-direction: column-reverse;
}
.styleCard{
}
/*Section Activity*/
.contentAllCardsActivity{
  display: block;
  margin-bottom: 0;
  padding: 0;
  flex-direction: column;

}
.styleCardActivity{
}
}